{% extends 'base.html' %}

{% block title %}Startseite{% endblock %}

{% block content %}

<body onload="clearData()">
  <style>
    #addedImages img,
    #addedImagesOverview img {
      width: auto;
      object-fit: contain;
      border: 0.1rem solid grey;
    }
  </style>

  <!--NAVBAR START-->
{% include 'navbar.html' %}
  <!--NAVBAR END-->
  <div class="pt-20 min-h-screen flex items-center justify-center mt-8">

    <article class="card bg-base-100 shadow-lg p-6 w-full md:w-1/2 p-8">
      <h1 class="card-title text-2xl justify-self-center font-bold">Beitrag erstellen</h1>
      <hr class="mt-2 mb-2 border-sky-200">

      <form method="post" enctype="multipart/form-data">
        <div class="flex justify-between items-center mt-8">
          <div class="font-bold">Titel</div>
        </div>
        <input id="titleInput" name="title" class="input input-info w-1/2" type="text" placeholder="aussagekräftiger Titel"></input>
        <hr class="border-2 mt-4">
        <div class="flex justify-between items-center mt-8">
          <div class="font-bold">Beschreibung</div>
        </div>
        <textarea name="description" type="text" id="descriptionInput" placeholder="Kurze Beschreibung..." maxlength="500" class="textarea textarea-info w-full min-h-48 text-justify"></textarea>
        <hr class="border-2 mt-4">
        <div class="flex justify-between items-center mt-8">
          <div class="font-bold">Tags</div>
        </div>
        <input name="tags" type="text" id="tagInput" class="input input-info w-1/2" placeholder="Tag1;Tag2;Tag3"></input>
        <hr class="border-2 mt-4">
        <div class="flex justify-between items-center mt-8">
          <div class="font-bold">Bilder</div>
        </div>
        <input name="images" accept=".png, .jpg, .jpeg, .mp4" multiple type="file" id="imageInput" class="mb-2 flex flex-wrap mt-4 justify-evenly grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 file-input file-input-primary"></input>
        <div id="addedImages" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4"></div>
        <hr class="border-2 mt-4">
        <div class="flex justify-between m-4 mt-8">
          <button class="btn btn-outline btn-primary" type="" onclick="checkIfInputIsBlank()">Posten</button>
        </div>
        <button type="submit" id="submit_button" class="hidden"></button>
      </form>
    </article>
    <script src="{{url_for('static', filename='create.js') }}"></script>
  </div>
</body>
{% endblock %}