{% extends 'base.html' %}

{% block title %}Neuer Post{% endblock %}

{% block content %}

<body class="bg-gray-100 grid dark:bg-gray-700">

  {% include 'navbar.html' %}

  
  <form method="post" class="m-100" enctype="multipart/form-data">
    <input name="title" type="text" placeholder="Titel">
    <input name="description" type="text" placeholder="Beschreibung">
    <input name="tags" type="text" placeholder="Tags">
    <input type="file" name="images" multiple><br><br>
    <button type="submit">erstellen</button>
  </form>

</body>
{% endblock %}