{% extends 'base.html' %}

{% block title %}Startseite{% endblock %}

{% block content %}

<body class="bg-gray-100 dark:bg-gray-700">

    <a id="topPos" class="block pt-20"></a>
    <a class="fixed box right-2 bottom-2 z-40" href="#topPos">
        <button>
            <img class="w-10 rounded-lg" src="{{ url_for('static', filename='images/upArrow.png') }}">
        </button>
    </a>

    {% include 'navbar.html' %}

    <article class="m-8 m-8">
        <h1 class="text-4xl font-bold mb-8 ml-4">Startseite</h1>

        <section id="postSection" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4 z-50">

            {% for preview in previews %}
            {% include 'blog/post_preview.html' %}
            {% endfor %}

        </section>

        <h2>nicht gefunden? Versuch's mit der Suche!</h2>
    </article>

    {% include 'footer.html' %}
</body>
{% endblock %}