{% extends 'base.html' %}

{% block title %}Post{% endblock %}

{% block content %}

<body class="bg-gray-100 dark:bg-gray-700 grid justify-center">

    {% include 'navbar.html' %}

    <article id="currentPost" class="mt-10 pt-20 flex justify-center rounded-xl px-4">
        <a class="btn link link-primary mr-4 self-start dark:bg-gray-500 dark:border-gray-500 dark:hover:bg-gray-100 dark:hover:border-gray-100"
            href="{{ url_for('blog.index') }}">
            <img class="h-6 w-7" src="{{ url_for('static', filename='images/left-arrow.svg') }}" alt="Zurück">
        </a>

        <section
            class="card bg-white dark:bg-gray-800 shadow-lg text-justify flex flex-col lg:flex-row max-w-6xl w-full p-4 items-start">
            <figure class="w-full lg:w-1/2 relative rounded-xl">
                <img class="rounded-xl" src="{{ url_for('media.download_media', id = media[0]['id']) }}" alt="Bild">
                <label for="fullscreen-carousel-modal"
                    class="btn absolute bottom-2 right-2 cursor-pointer dark:bg-gray-500 dark:border-gray-500 dark:hover:bg-gray-100 dark:hover:border-gray-100">
                    <img class="h-5" src="{{ url_for('static', filename='images/resize.svg') }}" />
                </label>
            </figure>

            <div class="w-full lg:w-1/2 p-4 flex flex-col">
                <h2 id="postName" class="card-title">{{ post['title'] }}</h2>
                <p id="postDescription" class="mb-4">
                    {{ post['description'] }}
                </p>

                <h2 class="font-bold">Tags</h2>
                <div id="tags" class="flex flex-row flex-wrap gap-2 mt-2 mb-4">
                    {% for tag in tags %}
                    <div class="badge flex badge-info items-center">
                        <img class="h-5" src="{{ url_for('static', filename='images/hashtag.svg') }}">
                        {{ tag }}
                    </div>
                    {% endfor %}
                </div>

                <div class="mb-4">
                    <h2 class="font-bold">veröffentlicht am</h2>
                    <div>{{ post['created'] }}</div>
                </div>

                <div class="flex-grow"></div>

                <!--KOMMENTARE START-->
                <div>
                    <div class="collapse collapse-arrow bg-base-100 border border-base-300 mb-4">
                        <input type="checkbox" name="my-accordion-2" />
                        <div class="collapse-title font-bold">Kommentare</div>
                        <div class="collapse-content text-sm">

                            <div class="h-60 overflow-y-scroll p-2">

                                {% for comment in comments %}
                                <div class="chat chat-end">
                                    <div class="chat-image avatar">
                                        <div class="w-10 rounded-full">
                                            <img alt="Tailwind CSS chat bubble component"
                                                src="{{ url_for('media.download_profile_pic', uid = comment['user_id']) }}" />
                                        </div>
                                    </div>
                                    <div class="chat-header">
                                        {{ commentDisplayName[comment['user_id']] }}
                                        <time class="text-xs opacity-50">{{ comment['created'] }}</time>
                                    </div>
                                    <div class="chat-bubble">{{ comment['text'] }}</div>
                                </div>
                                {% endfor %}

                            </div>
                            <form class="flex mt-2" action="{{ url_for('blog.comment', id = post['id']) }}"
                                method="post">
                                <input type="text" name="text" placeholder="Kommentar eingeben..."
                                    class="input input-primary w-full" />
                                <button class="btn ml-2">senden</button>
                            </form>
                        </div>
                    </div>
                    <!--KOMMENTARE ENDE-->

                    <div class="flex justify-between items-center">
                        <div class="flex items-center">
                            <div class="avatar mr-2">
                                <div class="w-10 h-10 rounded-full">
                                    <img src="{{ url_for('media.download_profile_pic', uid = post['user_id']) }}" />
                                </div>
                            </div>
                            <a href="#" class="hover:underline text-sm font-medium text-gray-700 dark:text-gray-400">{{
                                posterDisplayName }}</a>
                        </div>

                        <div class="flex items-center gap-2">
                            <div id="likesCount" class="text-sm text-gray-600 dark:text-gray-400">{{ likesCount }}</div>
                            {% if not isLiked %}
                            <form action="{{ url_for('blog.like', id=post['id']) }}" method="post"><button
                                    type="submit"><img class="h-6 w-6"
                                        src="{{ url_for('static', filename='images/heart_empty.svg') }}"
                                        alt="Like"></button></form>
                            {% else %}
                            <form action="{{ url_for('blog.unlike', id=post['id']) }}" method="post"><button
                                    type="submit"><img class="h-6 w-6"
                                        src="{{ url_for('static', filename='images/heart_full.svg') }}"
                                        alt="Like"></button></form>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </section>
    </article>

    <div class="h-100"></div>

    <!-- MODAL + FULLSCREEN CAROUSEL -->
    <input type="checkbox" id="fullscreen-carousel-modal" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle bg-black bg-opacity-70 backdrop-blur-sm">
        <div class="modal-box max-w-5xl w-full p-0 bg-black rounded-lg relative">

            <label for="fullscreen-carousel-modal" class="btn btn-sm btn-circle absolute right-4 top-4 z-50">✕</label>

            <div class="carousel w-full h-[80vh]">
                {% for item in media %}
                {% set index = loop.index0 %}
                {% set prev_index = loop.index0 - 1 if not loop.first else media|length - 1 %}
                {% set next_index = loop.index0 + 1 if not loop.last else 0 %}

                <div id="modal-slide{{ index }}" class="carousel-item relative w-full">
                    <img src="{{ url_for('media.download_media', id=item['id']) }}"
                        class="w-full object-contain h-full" />
                    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                        <a href="#modal-slide{{ prev_index }}" class="btn btn-circle">❮</a>
                        <a href="#modal-slide{{ next_index }}" class="btn btn-circle">❯</a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

</body>
{% endblock %}