{% extends 'base.html' %}

{% block title %}Suche{% endblock %}

{% block content %}

<body class="bg-gray-100 dark:bg-gray-700">
    <script type="module" src="https://unpkg.com/cally"></script>
    <a id="topPos" class="block pt-20"></a>
    <a class="fixed box right-2 bottom-2 z-40" href="#topPos">
        <button>
            <img class="w-10 rounded-lg" src="{{ url_for('static', filename='images/upArrow.png') }}">
        </button>
    </a>

    {% include 'navbar.html' %}

    <article class="m-8">
        <h1 class="font-bold text-lg">Filter</h1>

        <form class="flex gap-2 flex-wrap justify-start" method="post">
            <input name="filter" type="search" class="input mb-2 border-black" placeholder="Nach Titel suchen...">
            <button type="submit" class="gap-2 flex-wrap justify-start">suchen</button>
        </form>
    </article>

    <article class="m-8">
        <div class="flex flex-row font-bold ">
            <div class="mr-1 text-lg">Ergebnisse</div>
        </div>

        <section id="searchResults" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4">

            {% for preview in previews %}
            {% include 'blog/post_preview.html' %}
            {% endfor %}

        </section>
    </article>

    {% include 'footer.html' %}
</body>
{% endblock %}