<h2 class="text-lg font-bold mb-2">Tags hinzufügen</h2>

    <div class="font-bold mt-8">Tag eingeben</div>
    <input type="text" placeholder="z.B. wispowo" class="input input-info w-1/2"/>
    <button class="btn btn-active btn-primary">hinzufügen</button>

    <div id="tagsField" class="mt-4 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 gap-3">
      <a class="badge flex badge-info items-center" onclick="deleteTag()">
        <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
      </a>
      <a class="badge flex badge-info items-center" onclick="deleteTag()">
        <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
      </a>
      <a class="badge flex badge-info items-center" onclick="deleteTag()">
        <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
      </a>
      <a class="badge flex badge-info items-center" onclick="deleteTag()">
        <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
      </a>
      <a class="badge flex badge-info items-center" onclick="deleteTag()">
        <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
      </a>
      <a class="badge flex badge-info items-center" onclick="deleteTag()">
        <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
      </a>
      <a class="badge flex badge-info items-center" onclick="deleteTag()">
        <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
      </a>
      <a class="badge flex badge-info items-center" onclick="deleteTag()">
        <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
      </a>
      <a class="badge flex badge-info items-center" onclick="deleteTag()">
        <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
      </a>
    </div>