<div class="navbar fixed bg-base-100 shadow-sm z-50 top-0 left-0 w-full">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 5h14a1 1 0 010 2H3a1 1 0 010-2zm0 4h14a1 1 0 010 2H3a1 1 0 010-2zm0 4h14a1 1 0 010 2H3a1 1 0 010-2z" clip-rule="evenodd" />
                </svg>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a class="font-bold" href="index.html">Home</a></li>
                <li><a href="create.html">Erstellen</a></li>
                <li><a>Suche</a></li>
                <li><a>Hilfe</a></li>
            </ul>
        </div>
        <a class="btn btn-ghost text-xl">HTLens</a>
    </div>
  
    <div class="navbar-center hidden lg:flex mt-6">
        <ul class="menu menu-horizontal px-1">
          <li><a class="font-bold" href="index.html">Home</a></li>
          <li><a href="create.html">Erstellen</a></li>
          <li><a>Suche</a></li>
          <li><a>Hilfe</a></li>
        </ul>
    </div>
  
    <div class="navbar-end">
      <a href="#" class="link-hover mr-2">Profil</a>
      <a href="#" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full"> 
              <img
                  alt="Tailwind CSS Navbar component"
                  src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
          </div>
      </a>
    </div>
  </div>