<section id="overview" class="">
  <h2 class="text-lg font-bold mb-2">Übersicht</h2>

  <div class="flex justify-between items-center mt-8">
    <div class="font-bold">Titel</div>
    <a class="link-hover hover:cursor-pointer text-blue-600">bearbeiten</a>
  </div>
  <!--TITLE START-->
  <div id="title">Lorem ipsum</div>
  <!--TITLE END
  -->
  <hr class="border-2 mt-4">

  <div class="flex justify-between items-center mt-8">
    <div class="font-bold">Titel</div>
    <a class="link-hover hover:cursor-pointer text-blue-600">bearbeiten</a>
  </div>
  <!--DESCRIPTION START-->
  <div id="title" class="text-justify">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
  </div>
  <!--DESCRIPTION END-->
  <hr class="border-2 mt-4">


  <!--TAGS START-->
  <div class="flex justify-between items-center mt-8">
    <div class="font-bold">Tags</div>
    <a class="link-hover hover:cursor-pointer text-blue-600">bearbeiten</a>
  </div>

  <div id="tagsField" class="flex flex-wrap justify-start gap-x-6 gap-y-3 mt-4">
    <a class="badge flex badge-info items-center" onclick="deleteTag()">
      <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
    </a>
    <a class="badge flex badge-info items-center" onclick="deleteTag()">
      <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
    </a>
    <a class="badge flex badge-info items-center" onclick="deleteTag()">
      <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
    </a>
    <a class="badge flex badge-info items-center" onclick="deleteTag()">
      <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
    </a>
    <a class="badge flex badge-info items-center" onclick="deleteTag()">
      <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
    </a>
    <a class="badge flex badge-info items-center" onclick="deleteTag()">
      <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
    </a>
    <a class="badge flex badge-info items-center" onclick="deleteTag()">
      <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
    </a>
    <a class="badge flex badge-info items-center" onclick="deleteTag()">
      <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
    </a>
    <a class="badge flex badge-info items-center" onclick="deleteTag()">
      <img class="h-5" src="images/hashtag.svg"><div class="hover:line-through hover:cursor-pointer">wispowo</div>
    </a>
  </div>
  <!--TAGS END-->

  <hr class="border-2 mt-4">

  <!--IMAGES START-->
  <div class="flex justify-between items-center mt-8">
    <div class="font-bold">Tags</div>
    <a class="link-hover hover:cursor-pointer text-blue-600">bearbeiten</a>
  </div>

  <div id="addedImages" class="flex flex-wrap mt-4 justify-evenly">

    <div id="images">
      <img src="images/dummyImg_parrot.png" class="h-60  rounded-lg">
      <button class="link-hover" onclick="deleteImg(dummyImg_parrot)">löschen</button>
    </div>
    <div id="img1">
      <img src="images/dummyImg_parrot.png" class="h-60  rounded-lg">
      <button class="link-hover" onclick="deleteImg(dummyImg_parrot)">löschen</button>
    </div>
    <div id="img1">
      <img src="images/dummyImg_parrot.png" class="h-60  rounded-lg">
      <button class="link-hover" onclick="deleteImg(dummyImg_parrot)">löschen</button>
    </div>
    <div id="img1">
      <img src="images/dummyImg_parrot.png" class="h-60  rounded-lg">
      <button class="link-hover" onclick="deleteImg(dummyImg_parrot)">löschen</button>
    </div>
    <div id="img1">
      <img src="images/dummyImg_parrot.png" class="h-60  rounded-lg">
      <button class="link-hover" onclick="deleteImg(dummyImg_parrot)">löschen</button>
    </div>
    <div id="img1">
      <img src="images/dummyImg_parrot.png" class="h-60  rounded-lg">
      <button class="link-hover" onclick="deleteImg(dummyImg_parrot)">löschen</button>
    </div>
    <div id="img1">
      <img src="images/dummyImg_parrot.png" class="h-60  rounded-lg">
      <button class="link-hover" onclick="deleteImg(dummyImg_parrot)">löschen</button>
    </div>
    <div id="img1">
      <img src="images/dummyImg_parrot.png" class="h-60  rounded-lg">
      <button class="link-hover" onclick="deleteImg(dummyImg_parrot)">löschen</button>
    </div>
    <div id="img1">
      <img src="images/dummyImg_parrot.png" class="h-60  rounded-lg">
      <button class="link-hover" onclick="deleteImg(dummyImg_parrot)">löschen</button>
    </div>
    <div id="img1">
      <img src="images/dummyImg_parrot.png" class="h-60  rounded-lg">
      <button class="link-hover" onclick="deleteImg(dummyImg_parrot)">löschen</button>
    </div>
  </div>
  <!--IMAGES END-->
  <hr class="border-2 mt-4">
</section>